<div class="edit-item">
  <div class="edit-item__header">
    <span class="edit-item__header-title">Добавить позицию</span>
    <button routerLink="../" class="button-link">Отмена</button>
  </div>
  <div class="edit-item__form">
    <div class="form-control">
      <label class="form-control__label">
        <span class="form-control__label-text">Название</span>
        <input type="text" class="form-control__input">
      </label>
    </div>
    <div class="form-control">
      <label class="form-control__label">
        <span class="form-control__label-text">Цена</span>
        <input type="text" class="form-control__input">
      </label>
    </div>
  </div>
  <div class="edit-item__footer">
    <div class="button button--block">Сохранить</div>
  </div>
</div>
